
body, html {
    height: 100%;
}


.jumbotron-hero {
    background-color: #F9F7F5;
}


.blockquote,
.blockquote-footer, 
.jumbotron-special {
    background-color:#F7ECE1;
}

.container-name {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-left: 4em;
}


.container-title {
    padding-left: 4em;
    padding-right: 4em;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: inherit
}

h3 {
    padding-left: 10px;
}

.navbar-brand-center{
    display: flex;
    justify-content: center;
    align-items: center;

}


.nav-link {
    color: #8fd4e4;
    text-shadow: rgba(0,0,0,.2) 0 1px 0;
}
.nav-link a:hover {
    color: #28597a;
}
.nav-link a:active {
    color: #28597a;
}

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

    /* medium display */

    @media (min-width: 481px) and (max-width:768px) { 
    }

    /* small display*/

    @media (max-width:480px) {

    }

    /* W3 Schools */
    .thumbnail {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px;  /* Rounded border */
        padding: 5px; /* Some padding */
        width: 150px; /* Set a small width */
    }

    /* Add a hover effect (blue shadow) */
    img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }