/* The hero image 
.hero-image {
/* The image used */
/*
background-image: url("Assets/garden_door2.png");
height: 80%;
width: 100%;
/* Make element full width 
}
*/
body, html {
    height: 100%;
}



.section hero u-max-full-width {
    background: url("Assets/garden_door2.png");
    height: 50%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.hero-text {
 padding: 1%;
    text-align: left;
    position:absolute;
    top: 65%;
    transform: translate(10%, 10%);
    font-size: 30px;
    width: 100%;
    color: white;
}

.about-heading, 
.about-description,
.expertise-heading,
.education-heading,
.portfolio-heading,
.contact-heading { 
    text-align: center;
}


/* Style all font awesome icons */
.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
}