
body, html {
    height: 100%;
    display: grid;

}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar { 
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;
    border-color: transparent;
    box-shadow: none;

}

.navbar-scrolled { background-color: rgba(255,255,255,0.8); }


}

    .img-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
  

footer { 
    color: rgb(245,245,245); 
    background-color: rgb(128, 128, 128); 
    padding: 40px 0;
    font-size: 90%;
}

footer a {
    color: #8FD5E4;
}

footer a:hover {
    color: #28597a;
}
footer a:active {
    color: lightgray;
}

.nav-link {
    color: #8fd4e4;
    text-shadow: rgba(0,0,0,.2) 0 1px 0;
}
.nav-link a:hover {
    color: #28597a;
}
.nav-link a:active {
    color: #28597a;
}

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

    .container {
        padding-left:10px; padding-right:10px; }
    .card-deck-wrapper {
        margin-right:0; margin-left:0; 
    }
    /* medium display */

    @media (min-width: 481px) and (max-width:768px) { 
    }

    /* small display*/

    @media (max-width:480px) {

    }


   