

header {
  background-color: #F8F8F8;
}


header a,
header ul {
  margin: 0;
}


header a,
header li {
  padding: 1.4rem 0;
  color: #777;
  font-weight: bold;
}

section#intro-header {
  background-image: url(Assets/swisschard.jpg);
  background-size: cover;
}

section#intro-header .wrap-headline {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}


section#intro-header .wrap-headline {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

section#intro-header h1,
section#intro-header h2,
section#intro-header h4
{
  color: #FFF;
}

section#intro-header h2 {
  font-size: 1.5rem;
}

section#intro-header hr {
  width: 10%;
}

section#intro-header .btn-default {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

.float-right {
    float: right;
}

.about img {
  margin-top: 6.5rem;
  margin-bottom: 5rem;
}
.about h3 {
  margin-top: 10rem;
}

.img-fluid {
    max-width: 100%;
    height:auto;
    }

.design-services {
  background-color: #eef2f5;
  border-top: 0.1rem solid #e9e9e9;
  border-bottom: 0.1rem solid #e9e9e9;
}

.design-services * {
  color: #657C8E;
}

.design-services {
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
}

.landscape-image {
    margin: auto;
}