
body, html {
    height: 100%;
}

.progress-bar{
    background-color: yellowgreen;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-text{
    color:white;
    text-align: center;
    align-items: baseline;
}

.bg-cover {
    max-height: 100%;
    max-width: 100%;
    background-size:cover;
    background-position: center center;
    position: relative;


}
.navbar-brand-center{
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar { 
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;
    border-color: transparent;
    box-shadow: none;

}

.navbar-scrolled { background-color: rgba(255,255,255,0.8); }

.about-text{
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
}

.col-5{
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height:auto;

}

.card-deck{
    margin-top: 20px;

}

.card-title{
    padding: 10px; 
    position:absolute;
    top: 0;
    right: 0;
    height: 90px;
    width: 80px;
    background: white;
    text-align: center;
    color: white;
    font-weight: 300;

}
footer { 
    color: rgb(245,245,245); 
    background-color: rgb(128, 128, 128); 
    padding: 40px 0;
    font-size: 90%;
}

footer a {
    color: #8FD5E4;
}

footer a:hover {
    color: #28597a;
}
footer a:active {
    color: lightgray;
}

footer .larger-footer-links {
    margin-bottom: 1.5rem;
}
footer .larger-footer-links a {
    font-size: 150%;
}

.nav-link {
    color: #8fd4e4;
    text-shadow: rgba(0,0,0,.2) 0 1px 0;
}
.nav-link a:hover {
    color: #28597a;
}
.nav-link a:active {
    color: #28597a;
}

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

    .container {
        padding-left:10px; padding-right:10px; }
    .card-deck-wrapper {
        margin-right:0; margin-left:0; 
    }
    /* medium display */

    @media (min-width: 481px) and (max-width:768px) { 
    }

    /* small display*/

    @media (max-width:480px) {

    }

    /* W3 Schools */
    .thumbnail {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px;  /* Rounded border */
        padding: 5px; /* Some padding */
        width: 150px; /* Set a small width */
    }

    /* Add a hover effect (blue shadow) */
    img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }